@import "https://fonts.googleapis.com/css?family=Josefin+Slab";
body {
    font-family: "Josefin Slab";
    height: 100vh;
    background-color: #676;
}

.section-project {
    padding: 1px 0;
    position: relative;
/*     background-color: #f76;*/
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.9));
    /*background-image: linear-gradient(to bottom, transparent, white);*/
}



.section__title, .section__subtitle {

    font-size: 64px;
    text-align: center;
    color: white;
    display: block;
}

.section__title {
    font-size: 3em;
    line-height: 1;
    margin: 0 0 20px;
}

.section__subtitle {
    font-size: 1.2em;
    line-height: 1.5;
    opacity: .5;
}
.section__subtitle a {
    color: inherit;
}

.project-carousel {
    position: relative;
    padding: 50px 0;
}

.project-strip {
    margin: 150px 0 150px;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.project-strip .project {
    cursor: pointer;
}
.project-strip img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.project-screen {
    width: 768px;
    height: 451px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.project-screen .project-detail {
    position: absolute;
    left: 0;
    right: 0;
    width: 578px;
    height: 361px;
    margin: 32px auto 0;
    z-index: 1;
    background-color: #333;
}
.project-screen .screen-frame {
    content: " ";
    width: 768px;
    height: 451px;
    position: absolute;
    background-image: url("https://dl.dropboxusercontent.com/u/26808427/cdn/experiments/training/macbook-frame.png");
    background-repeat: no-repeat;
}
.project-screen .project {
    margin-right: -100%;
    float: left;
    cursor: move;
}
